*{
    box-sizing: border-box;
    /*background-color: rgb(192,192,192);*/
}

.ticketWrapper{
    padding-top: 60px;
    /*background-color: rgb(192,192,192);*/
    padding-bottom: 60px;
    font-size: 1.2em;
}

.card{
    display: flex;
    height: 450px;
    width: 83%;
    margin: 55px auto 0px;
    box-shadow: 2px 2px 2px rgb(128,128,128);
    border-radius: 15px;

}

.left{
    flex: 2;
    border-right: 3px dashed rgb(192,192,192);
    background-color: #3A0CA3;
    border-radius: 15px;
    padding: 50px;
}

.right{
    flex: 5;
    position: relative;
    background-color: #048BA8;
    border-radius: 15px;
    padding: 50px;
}



.alignment{
    display: flex;
    flex-direction: row;
    /*justify-content: space-evenly;*/
    align-items: center;
}

.alignment p:first-child {
    flex: 2;
}

.alignment p:nth-child(2) {
    flex: 1.5;
    text-align: left;
}


.centerAlignment{
    margin-top: 50px;
    text-align: center;
}

.circle{
    height: 60px;
    width: 60px;
    position: absolute;
    border-radius: 30px;

    background-color: white;
}

.upper{

    top: -30px;
    left: -30px;
}

.lower{
    left: -30px;
    bottom: -30px;
}

.card:hover{
    box-shadow: 4px 4px 4px rgb(105,105,105);
}
