.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

.card img {
    transition: transform .5s ease;
}

.card:hover img {
    transform: scale(1.15);
}

.boddy{
    background: radial-gradient(#5ec5e2, #42cbd7, #5463e0);
    padding: 40px;
}
